# Copyright 2025 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_STM32

config CLOCK_MANAGEMENT_STM32
	bool
	default y
	help
	  Hidden symbol to enable common clock management code for STM32 family.

config CLOCK_MANAGEMENT_STM32_INLINE
	bool "Inline STM32 register accessors"
	default n
	help
	  Controls whether the STM32 register accessors are inlined in all drivers,
	  or implemented as functions in a single file called by other drivers.

config CLOCK_MANAGEMENT_STM32_BUS_PRESCALER
	bool "STM32 bus prescaler driver"
	default y
	depends on DT_HAS_ST_STM32_BUS_PRESCALER_ENABLED
	help
	  Driver for STM32 bus clock prescalers

endif # SOC_FAMILY_STM32
